{#
/**
 * @file
 * Boostrap SASS Starter Kit's Theme override to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 *
 * @see template_preprocess_menu_local_tasks()
 */
#}
{%
  set classes = [
    'nav',
    primary ? 'primary',
    secondary ? 'secondary',
    nav_style ? nav_style : 'nav-tabs',
  ]
%}

{% if primary %}
  <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
  <ul{{ attributes.addClass(classes) }}>{{ primary }}</ul>
{% endif %}
{% if secondary %}
  <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
  <ul{{ attributes.addClass(classes) }}>{{ secondary }}</ul>
{% endif %}
