{#
/**
 * @file
 * Boostrap SASS Starter Kit's theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% if site_logo %}
<a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="navbar-brand__logo navbar-brand">
  {% include directory ~ '/logo.svg' %}
</a>
{% endif %}
<div class="navbar-brand__container">
  {% if site_name and not site_logo %}
  <a href="{{ path('<front>') }}" title="{{ site_name }}" rel="home" class="navbar-brand__name navbar-brand">
    {{ site_name }}
  </a>
  {% endif %}
  {# do not output link to home page twice if logo is output #}
  {% if site_name and site_logo %}
  <span class="navbar-brand__name navbar-brand">
    {{ site_name }}
  </span>
  {% endif %}
  {% if site_slogan %}
  <span class="site-name-slogan navbar-brand navbar-brand__slogan d-none d-xxl-block">
    {{ site_slogan }}
  </span>
  {% endif %}
</div>
