/**
 * @file
 * Visual styles for Drupal's ajax/system component.
 * These are loaded as part of core/drupal and may 
 * need to be overridden here
 */

// @use "sass:math" as math;
 
 .ajax-progress {
   display: inline-block;
   padding: 1px 5px 2px 5px;
 }

 [dir="rtl"] .ajax-progress {
   float: right;
 }

 .ajax-progress-throbber .throbber {
   display: inline;
   padding: 1px 6px 2px;
   background: transparent url(../../../../misc/throbber-active.gif) no-repeat 0 center;
 }

 .ajax-progress-throbber .message {
   display: inline;
   padding: 1px 5px 2px;
 }

 tr .ajax-progress-throbber .throbber {
   margin: 0 2px;
 }

 .ajax-progress-bar {
   width: 16em;
 }

.ajax-progress-fullscreen {
  &.spinner-border {
    background: none;
  }

  // --bs-glyphicon-spin-color: @gray-darker;
  position: fixed;
  z-index: 1261;
  top: 50vh;
  left: 50vw;
  margin-top: calc((var(--#{$prefix}spinner-height) + ( 2 * var(--#{$prefix}spinner-border-width)) + var(--#{$prefix}spinner-vertical-align)) * -0.5);
  margin-left: calc((var(--#{$prefix}spinner-width) + ( 2 * var(--#{$prefix}spinner-border-width)) + var(--#{$prefix}spinner-vertical-align)) * -0.5);
}

[dir="rtl"] .ajax-progress-fullscreen {
  right: 50vw;
  left: 50vw;
}

.js {
  input.form-autocomplete,
  input.form-autocomplete.ui-autocomplete-loading {
    background-position: calc(100% - 0.5em) center;
  }
}